<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<servlet>
		<description>my J2EE component</description>
		<display-name>my J2EE component</display-name>
		<servlet-name>Loginservlet</servlet-name>
		<servlet-class>login.Loginservlet</servlet-class>
	</servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ReaderInfo</servlet-name>
    <servlet-class>login.ReaderInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>bookInfo</servlet-name>
    <servlet-class>login.bookInfo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>findBook</servlet-name>
    <servlet-class>login.findBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>borrowBook</servlet-name>
    <servlet-class>login.borrowBook</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>giveBack</servlet-name>
    <servlet-class>login.giveBack</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>giveSuccess</servlet-name>
    <servlet-class>login.giveSuccess</servlet-class>
  </servlet>








  
	<servlet-mapping>
		<servlet-name>Loginservlet</servlet-name>
		<url-pattern>/Loginservlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReaderInfo</servlet-name>
    <url-pattern>/ReaderInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>bookInfo</servlet-name>
    <url-pattern>/bookInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>findBook</servlet-name>
    <url-pattern>/findBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>borrowBook</servlet-name>
    <url-pattern>/borrowBook</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>giveBack</servlet-name>
    <url-pattern>/giveBack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>giveSuccess</servlet-name>
    <url-pattern>/giveSuccess</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <filter>
  	<filter-name>CharactorFilter</filter-name>
  	<filter-class>login.CharactorFilter</filter-class>
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>CharactorFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
