* {
	padding: 0;
	margin: 0;
}
body,html {
	height: 100%;
	overflow: hidden;
	background: #f7f7f7;
}
.mybanner {
	width: 100%;
	height: 50px;
	margin:  0 auto;
	background: black;
	position: relative;
	user-select: none;
}

ul,li {
	list-style: none;
	float: left;
}
li{
	float: left;	
}
a {
	text-decoration: none;
}
.mybanner a {
	color: white;
}
.mybanner .banner-top {
	width: 80%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	align-items: center;
}
.mybanner .banner-top li {
	height: 100%;
	line-height: 50px;
	width: 15%;
	transition-property: background,color;
	transition-duration: .5s;
	cursor: pointer;
}
#time {
	position: absolute;
	right: 0;
	width: 20%;
	height: 100%;
	color: white;
}

.bookInfo .library_icon{
	width: 100%;
	height: 150px;
	background: url('../img/library.jpg') no-repeat 0 0;
	background-size: 100% 100%;
}



.bookInfo .range {
	width: 100%;
	background: rgba(104, 54, 153,.2);
}
.bookInfo .range ul li {
	width: 12%;
	height: 25px;

}
.bookInfo .range .baseInfo {
	height: 50px;
	background: rgb(104, 54, 153);
	color: white;
}
.bookInfo .range .book li {
	margin: 10px 0;

}
.bookInfo .range .book {
	border: 1px solid rgba(0, 0, 0, .2);	

}
.bookInfo .range ul {
	width: 100%;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
	align-items: center;
}

.bookInfo .rangeTitle {
	padding-left: 20px;
	font-size: 20px;
}

.container {
  width: 100%;
  height: 50px;
  background: rgba(104, 54, 153,.5);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.stuinfo {
	text-align: center;
	margin: 20px auto;
	padding-top: 50px;
}

.bookTitle {
	text-align: center;
	padding: 10px 0;
	margin-top:30px;
 }
.noBook {
  width: 200px;
  height: 200px;
  background: url('../img/noBook.png');
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, 30%);
  display: none;
}
.copyright {
	height: 50px;
	width: 100%;
	background: rgba(104, 54, 153,1);
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	line-height: 50px;
	color: white;
}

#page {
	width: 100%;
}








































